###> dev ###
/.idea/
/data/
/private/
/public/attachments/
/public/uploads/
###< dev ###

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/logs/

### symfony/string slugger exception
!/vendor/
/vendor/*
!vendor/symfony/
/vendor/symfony/*
!/vendor/symfony/string/
/vendor/symfony/string/*
!/vendor/symfony/string/Slugger/
/vendor/symfony/string/Slugger/*
!/vendor/symfony/string/Slugger/AsciiSlugger.php
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###